extends layout

block content
    a.card(href="/turn?choice=rock")
        img(src="/images/rock(rps).jpg")
    a.card(href="turn?choice=paper")
        img(src="/images/paper(rps).jpg")
    a.card(href="turn?choice=scissors")
        img(src="images/scissors(rps).jpg")

